
@{
    ViewBag.Title = "TeacherTimeTable";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2> Time Table</h2>

<table class="table">
    <tr>
        <th>
           Time
        </th>
        <th>
           Monday
        </th>
        <th>
            Tuesday
        </th>
        <th>
            Wednesday
        </th>
        <th>
           Thursday
        </th>
        <th>
            Friday
        </th>
       
      
    </tr>

   
        <tr>
            <td>9:00AM-10:00AM</td>
            <td>
                BS (INFORMATION TECHNOLOGY)<br />
                Introduction to Computing<br />
                Sir Tariq Kamboh (Phd)
            </td>
            <td></td>
            <td> BS (COMPUTER SCIENCE)<br />
                Human Computer Interaction <br />
                Doctor Abdul Rehman (Phd)
            </td>
            <td></td>
            <td>MASTER OF INFORMATION TECHNOLOGY <br />
                Human Resource Management <br />
                 Sir Farhan Chaudhary (DBA)
            </td> 
        </tr>

    <tr>
        <td>10:00AM-11:00AM</td>
        <td></td>
        <td>
            BS (INFORMATION TECHNOLOGY)<br />
            Circuit Theory <br />
            Miss Lubna Parveen (MPhill)
        </td>
        <td></td>
        <td>
            BS (COMPUTER SCIENCE)<br />
            Financial Accounting <br />
            Sir Jawad Hassan (Msc)
        </td>
        
        <td>
           
        </td>

    </tr>

    <tr>
        <td>11:00AM-12:00PM</td>
        <td>
            BS (INFORMATION TECHNOLOGY)<br />
            Introduction to Computing<br />
            Sir Tariq Kamboh (Phd)
        </td>
        <td></td>
        <td>
            BS (COMPUTER SCIENCE)<br />
            Human Computer Interaction <br />
            Doctor Abdul Rehman (Phd)
        </td>
        <td></td>
        <td>
            MASTER OF INFORMATION TECHNOLOGY <br />
            Human Resource Management <br />
            Sir Farhan Chaudhary (DBA)
        </td>
       

    </tr>

    <tr>
        <td>1:00PM-2:00PM</td>
        <td></td>
        <td>
            BS (INFORMATION TECHNOLOGY)<br />
            Circuit Theory <br />
            Miss Lubna Parveen (MPhill)
        </td>
        <td></td>
        <td>
            BS (COMPUTER SCIENCE)<br />
            Financial Accounting <br />
            Sir Jawad Hassan (Msc)
        </td>

        <td></td>
      

    </tr>
  

</table>
