
@{
    ViewBag.Title = "TeacherTimeTable";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2> Subjects Detail</h2>
<hr style="border-top: 1px solid #6d9b90;">

<h4>Semester 1</h4>

<table class="table">
    <tr>
        <th>
            Program
        </th>
        <th>
          Subject
        </th>
        <th>
           Credit Hours
        </th>
       
    </tr>

   
        <tr>
            <td>BS (INFORMATION TECHNOLOGY) </td>
            <td>Introduction to Computing</td>
            <td>3</td>           
        </tr>

    <tr>
        <td>BS (INFORMATION TECHNOLOGY) </td>
        <td>Circuit Theory</td>
        <td>3</td>
    </tr>

    <tr>
        <td>BS (INFORMATION TECHNOLOGY)</td>
        <td>Financial Accounting</td>
        <td>4</td>
    </tr>

    <tr>
        <td>BS (INFORMATION TECHNOLOGY)</td>
        <td>Human Computer Interaction</td>
        <td>3</td>
    </tr>

    <tr>
        <td>BS (INFORMATION TECHNOLOGY)</td>
        <td>Human Resource Management</td>
        <td>3</td>
    </tr>
  

</table>

<h4>Semester 2</h4>

<table class="table">
    <tr>
        <th>
            Program
        </th>
        <th>
            Subject
        </th>
        <th>
            Credit Hours
        </th>

    </tr>


    <tr>
        <td>BS (INFORMATION TECHNOLOGY) </td>
        <td>English Comprehension</td>
        <td>4</td>
    </tr>

    <tr>
        <td>BS (INFORMATION TECHNOLOGY) </td>
        <td>Entrepreneurship</td>
        <td>3</td>
    </tr>

    <tr>
        <td>BS (INFORMATION TECHNOLOGY)</td>
        <td>Financial Management</td>
        <td>4</td>
    </tr>

    <tr>
        <td>BS (INFORMATION TECHNOLOGY)</td>
        <td>	Information Systems</td>
        <td>3</td>
    </tr>

    <tr>
        <td>BS (INFORMATION TECHNOLOGY)</td>
        <td>Software Project Management</td>
        <td>4</td>
    </tr>


</table>
