@model CampusManagement.Models.TimeTableSlotsViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Time Slots";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
}

@{
    if (Model.SelectedTimeTableSlot != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedTimeTableSlot);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedTimeTableSlot);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.TimeTableSlot());
    }
}

<table class="table">
    <tr>
        <th>
            Slot      
        </th>
        <th>
            Time Table Title 
        </th>
        <th>
            Is Active
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.TimeTableSlots)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTableSlotName)
        </td>
        <td>
            @{
                string TimeTableMainName = "";

                TimeTableMain ttm = dbc.TimeTableMains.FirstOrDefault(f => f.TimeTableMainID == item.TimeTableMainID);
                if (ttm != null)
                {
                    TimeTableMainName = ttm.TimeTableMainName;
                }
                @Html.Raw(TimeTableMainName)
            }
         
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.TimeTableSlotID }) 
        </td>

    </tr>
    }

</table>


