@using CampusManagement.Models
@{
    ViewBag.Title = "Change Password";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
    ModelCMSNewContainer db = new ModelCMSNewContainer();
    //string UserName = ViewBag.UserName;
    //Login login = db.Logins.FirstOrDefault(a => a.UserName == UserName);
}


<hr style="border-top: 1px solid #6d9b90;" />

@using (Html.BeginForm("AdminChangePassword", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <input class="form-control" type="Text" placeholder="User Name" name="UserName" autocomplete="off">
            <span class="focus-input100"></span>
        </div>
    </div><br />
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <input class="form-control" type="password" name="OldPassword" placeholder="Enter Old Password" autocomplete="off">
            <span class="focus-input100"></span>
        </div>
    </div><br />
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <input class="form-control" type="password" name="NewPassword" placeholder="Enter New Password" autocomplete="off" required>
            <span class="focus-input100"></span>
        </div>
    </div><br />
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <input class="form-control" type="password" name="CnfrmPassword" placeholder="Confirm New Password" autocomplete="off" required>
            <span class="focus-input100"></span>
        </div>
    </div><br />
    <div class="col-lg-offset-4 col-lg-6">
        @{
            if (ViewBag.MessageType == "error")
            {
                <span style="color:red;">@Html.Raw(ViewBag.ErrorMessage)</span>
            }
            if (ViewBag.MessageType == "success")
            {
                <span style="color:green;">@Html.Raw(ViewBag.ErrorMessage)</span>
            }
        }

    </div><br />
    <div class="row">
        <div class="col-lg-offset-4 col-sm-12">
            <button type="submit" class="btn btn-primary">
                Update
            </button>
            <a href="@Url.Content("~/Employees/UsersDetail")" class="btn btn-primary">Back</a>
            <a class="btn btn-primary" onclick="myFunction()">Reset</a>
        </div>
    </div>

            }


@using (Html.BeginForm("AdminResetPassword", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="myDIV" style="display:none">
        <hr />
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <input class="form-control" type="Text" placeholder="User Name" name="UserName" autocomplete="off">
                <span class="focus-input100"></span>
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-offset-4 col-sm-12">
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
            </div>
        </div>
    </div>
   

}


<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<style>
    form {
     margin-top: 0px; 
     margin-bottom: 0px; 
}
</style>
