@model CampusManagement.Models.QRCode
@{
    ViewBag.Title = "Read QR Code";
}


<div class="row">
    <h2><span class="col-sm-12">Read QR Code</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />
@Html.Partial("_MessageView")

<div>
    <dl class="dl-horizontal">
        <dt>
            QR Code Image
        </dt>

        <dd>
            <img src="@Url.Content(Model.QRCodeImagePath)" alt="Image" />
        </dd>
        <dt>
            QR Code URL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QRCodeURL)
        </dd>

    </dl>
</div>
