
@{
    ViewBag.Title = "ProgramIntake";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "StudentBatchProgramCourses")" class="alert-link"> Update Student Course</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#"  class="alert-link"> Deffer Student </a>
            </div>
        </div>
    </div>
  
</div><br />