
@{
    ViewBag.Title = "NewAdmission";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Students")" class="alert-link" target="_blank"> Students </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Courses")" class="alert-link" target="_blank"> Courses </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom" style="padding: 50px 4px;">
                <a href="@Url.Action("Create", "Challans")" class="alert-link" target="_blank"> Create Invoice Program Wise</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("SingleStudentChallan", "Challans")" class="alert-link" target="_blank">Create Student Invoice</a>
            </div>
        </div>
    </div>
    </div>

