
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style=" border-top: 1px solid #6d9b90;" />

