@model CampusManagement.Models.tt_GetTimeTableManualTimeSlot_ResultViewModel
@{
    ViewBag.Title = "Time Table Manual Slots";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.Selectedtt_GetTimeTableManualTimeSlot_Result != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.Selectedtt_GetTimeTableManualTimeSlot_Result);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.Selectedtt_GetTimeTableManualTimeSlot_Result);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.tt_GetTimeTableManualTimeSlot_Result());
    }
}

<table class="table">
    <tr>
        <th>
            Day
        </th>


        <th>
            Time Slot
        </th>
       
        <th>
            Room #
        </th>
        <th>
            Action
        </th>
        
    </tr>

    @foreach (var item in Model.tt_GetTimeTableManualTimeSlot_Results)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTableSlotName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.RoomName)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.TimeTableManualTimeSlotID })
        </td>
        
    </tr>
    }

</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#DurationMunutes").val(parseInt($("#DurationID option:selected").text()));
            $("#DurationID").change(function () {
                $("#DurationMunutes").val($("#DurationID option:selected").text());
            });
        });
    </script>    
}