
<div class="row">
    <div class="col-sm-12">
        @{ 
            if(TempData["messageType"] != null)
            { 
                if (TempData["messageType"].ToString() == "success")
                {
                    <div class="alert alert-success alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>@Html.Raw(@TempData["message"].ToString())</div>
                }
                else if (TempData["messageType"].ToString() == "error")
                {
                    <div class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>@Html.Raw(@TempData["message"].ToString())</div>
                }
            }
        }
    </div>
</div>
