<!DOCTYPE html>
<html lang="en">
<head>
    <link href="@Url.Content("~/Content/Login1/css/LoginStyle.css")" rel="stylesheet">
    <script src="@Url.Content("~/Content/Login1/js/modernizrCustom.js")"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1><strong>4S Campus Connect</strong></h1>
            <h2><strong>Please Connect</strong></h2>
        </header>
        <section class="main">
            @RenderBody()
        </section>
    </div>
</body>
</html>