@*@model CampusManagement.Models.ExamResultForDisplayViewModel*@
@using CampusManagement.Models
@*<div class="row">
    <h2><span class="col-sm-12"> Change Grade Form </span></h2>
</div>*@
<div style="border:solid;border-width:2px;border-color:lightgray;text-align:center; background-color:lightyellow">
    <div class="row" style="text-align:center; margin:20px">
        <h3><span class="col-sm-12;" style="font-weight:bold">@MvcApplication.UniversityName</span>  </h3>
        <h5><span class="col-sm-12;" style="font-weight:bold"> @MvcApplication.UniversityCampusName  </span></h5> 
        <h5><span class="col-sm-12"> Plot # 5, Sector H-9, Islamabad </span></h5>
       

    </div>
    <div class="row" style="width:100%;text-align:center;vertical-align:central; margin-left:0px " >
        <h3  ><span  style="border:solid;border-width:2px;border-color:lightgray;font-weight:bold">Change Grade Form</span> </h3>
    </div>

     <div class="row">
         <div class="pull-right" style="margin-right:100px"><span style="font-weight:bold">Date:</span>  <span style="border-bottom: 1px solid grey">@DateTime.Now.ToString() </span> </div>
     </div>

    <div class="row" style="text-align:left; margin-left:25px;margin-right:25px">
        <div class="" ><span style="font-weight:bold">Course:</span>  <span style="border-bottom: 1px solid grey">Text Box Here </span> </div>
    </div>

    <div class="row" style="text-align:left; margin-left:25px;margin-right:25px">
        <div class=""> <span style="font-weight:bold">Semester:</span> <span style="border-bottom: 1px solid grey">Display Semester Name Here </span> </div>
    </div>
    <div class="row" style="text-align:left; margin-left:10px;margin-right:10px">
        <div class="col-lg-7"><span style="font-weight:bold">StudentName:</span> <span style="border-bottom: 1px solid grey">Display Student Name Here </span>   </div>
        <div class="col-lg-5"><span style="font-weight:bold">Registration #:</span> <span style="border-bottom: 1px solid grey">Display R # Here </span>   </div>
    </div>
    <div class="row" style="text-align:left; margin-left:10px;margin-right:10px">
        <div class="col-lg-7"><span style="font-weight:bold">Total Marks:</span> <span style="border-bottom: 1px solid grey">Total Marks Here </span>   </div>
      
    </div>
    <div class="row" style="text-align:left; margin-left:10px;margin-right:10px">
        <div class="col-lg-7"><span style="font-weight:bold">Old Marks:</span><span style="border-bottom: 1px solid grey">Old Marks Here </span>   </div>
        <div class="col-lg-5"><span style="font-weight:bold">New Marks #:</span><span style="border-bottom: 1px solid grey">New Marks Here </span>   </div>
    </div>
    <br/>
    <br />
    <div class="row" style="text-align:left; margin-left:10px;margin-right:10px">
        <div class="col-lg-2"><span style="font-weight:bold">Remarks:</span> </div><div class="col-lg-10"> <span  style="border-bottom: 1px solid grey">Text area here for Enter long text.Text area here for Enter long text.Text area here for Enter long text.Text area here for Enter long text.Text area here for Enter long text.Text area here for Enter long text.Text area here for Enter long text </span>   </div>
      
    </div>
    <br />
    <br />

    <div class="row" style="text-align:left; margin-left:10px;margin-right:10px">
        <div class="col-lg-7"><span style="font-weight:bold">Instructor(Signature):</span><span style="border-bottom: 1px solid grey">Drop Down here </span>   </div>
        <div class="col-lg-5"><span style="font-weight:bold">Date #:</span><span style="border-bottom: 1px solid grey">Current Date Here </span>   </div>
    </div>
    <br />
    <div class="row" style="text-align:left; margin-left:10px;margin-right:10px">
        <div class="col-lg-7"><span style="font-weight:bold">Head Of Dept(Signature):</span><span style="border-bottom: 1px solid grey">Drop Down here </span>   </div>
        <div class="col-lg-5"><span style="font-weight:bold">Date #:</span><span style="border-bottom: 1px solid grey">Current Date Here </span>   </div>
    </div>
    <br />
    <div class="row" style="text-align:left; margin-left:10px;margin-right:10px">
        <div class="col-lg-7"><span style="font-weight:bold">Dean(Signature):</span><span style="border-bottom: 1px solid grey">Drop Down here </span>   </div>
        <div class="col-lg-5"><span style="font-weight:bold">Date #:</span><span style="border-bottom: 1px solid grey">Current Date Here </span>   </div>
    </div>
    <br />
    <br />
    </div>
