
@{
    ViewBag.Title = "Discipline";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "DisciplineCategories")" class="alert-link" target="_blank"> Discipline Category </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "DisciplineTypes")" class="alert-link" target="_blank"> Discipline Type </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "DisciplineSeverityLevel")" class="alert-link" target="_blank"> Discipline Severity Level </a>
            </div>
        </div>
    </div>
</div>

