
@{
    ViewBag.Title = "ExtraCurriculum";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link"> Club/Society </a>
            </div>
        </div>
    </div>
</div>

