
@{
    ViewBag.Title = "Finance";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Student Number Format</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Fine to Course </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Bank Setup </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Discount Setting </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Fees Package </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Late Payment Fine </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Mode of Payment </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "CollegeServices")" class="alert-link" target="_blank"> Type of Fees </a>
            </div>
        </div>
    </div>
    
</div>

