
@{
    ViewBag.Title = "Registration";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Intake </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Fee Schedule </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Academic Calender </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link" target="_blank"> Stdent Course Status </a>
            </div>
        </div>
    </div>
  
</div>

