


@model CampusManagement.Models.GetAttandanceStudentSummaryForDashboard_Result
@{
    ViewBag.Title = "GenderWiseEmployeeDashboard";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Gender Wise Employee  </h2>



<!DOCTYPE HTML>
<html>
<head>

    <script src="@Url.Content("~/assets/DashboardChart/Canvas.js")"></script>

    <script>

        window.onload = function () {
            //-Designation wise Teacher Summary
            var print = new CanvasJS.Chart("chartContainer10", {

                exportEnabled: true,

            });
            print.render();

            var chart10 = new CanvasJS.Chart("chartContainer10", {

                exportEnabled: true,
                title: {
                    text: "Gender wise Lecturers "
                },

                legend: {

                    //verticalAlign: "center",
                    //horizontalAlign: "left",
                    fontSize:12,
                    fontFamily: "Helvetica",

                },
                data: [{
                    type: "pie",
                    startAngle: 60,
                    showInLegend: true,
                    legendText: "{label}-{y}",
                    indexLabelFontSize: 16,
                    indexLabel: " {label}-{y}",
                    toolTipContent: "<b>{label}:</b> {y}",

                    dataPoints: @Html.Raw(ViewBag.DataPoints10),
                }],



            });
            chart10.render();
        }
    </script>
</head>
<body>

    @using (Html.BeginForm("GenderWiseEmployeeDashboard", "DashboardStudents", FormMethod.Post))
    {
        @Html.AntiForgeryToken()



        <br />
        <div class="row" style="border-top: solid 1px #808080 !important;margin-bottom:40px">

            <div class="col-sm-12" style="margin-top:30px">
                <div class="col-sm-12">
                    <div id="chartContainer10" style="height: 370px; width: 100%;"></div>
                </div>

            </div>

        </div>
    }
</body>
</html>




@*//////////////test//////////////*@
