<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {

            var chart = new Gauge("chartContainer", {

                title: { text: "Dynamic Gauge Chart" },
                maximum: 100,
                data: { y: 0 } //gauge value change it

            });
            chart.render();
            updateData(chart);  //Comment it out if you'r data will not change



            // For dynamic data
            function updateData(chart) {

                setInterval(function () {
                    chart.gauge.data.y = Math.ceil(Math.random() * chart.gauge.maximum);
                    chart.updateGauge();

                }, 3000);
            }

            //Function for gauge
            function Gauge(containerId, gauge) {

                //Caluculation of remaining parameters to render gauge with the help of doughnut
                gauge.unoccupied = {

                    y: gauge.maximum - gauge.data.y,
                    color: "#DEDEDE",
                    toolTipContent: null,
                    highlightEnabled: false,
                    click: function () { gauge.unoccupied.exploded = true; }

                };

                gauge.data.click = function () { gauge.data.exploded = true; };

                if (!gauge.data.color)
                    gauge.data.color = "#69C434";

                gauge.valueText = { text: gauge.data.y.toString(), verticalAlign: "center", dockInsidePlotArea: true };

                var chart = new CanvasJS.Chart(containerId, {

                    subtitles: [gauge.valueText],

                    data: [{
                        type: "doughnut",
                        dataPoints: [
                            { y: gauge.maximum, color: "transparent", toolTipContent: null },
                            gauge.data,
                            gauge.unoccupied
                        ]
                    }]

                });

                if (gauge.title)
                    chart.options.title = gauge.title;

                chart.gauge = gauge;
                //For updating
                chart.updateGauge = function () {
                    this.gauge.unoccupied.y = this.gauge.maximum - this.gauge.data.y;
                    this.gauge.valueText.text = this.gauge.data.y.toString();

                    this.render();
                }

                return chart;
            }
        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>