
@{
    ViewBag.Title = "TeacherTimeTable";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2> Subjects Detail</h2>

<table class="table">
    <tr>
        <th>
            Program
        </th>
        <th>
          Subject
        </th>
        <th>
           Credit Hours
        </th>
       
    </tr>

   
        <tr>
            <td>BS (INFORMATION TECHNOLOGY) </td>
            <td>Introduction to Computing</td>
            <td>3</td>           
        </tr>

    <tr>
        <td>BS (INFORMATION TECHNOLOGY) </td>
        <td>Circuit Theory</td>
        <td>3</td>
    </tr>

    <tr>
        <td>BS (COMPUTER SCIENCE)</td>
        <td>Financial Accounting</td>
        <td>4</td>
    </tr>

    <tr>
        <td>BS (COMPUTER SCIENCE)</td>
        <td>Human Computer Interaction</td>
        <td>3</td>
    </tr>

    <tr>
        <td>MASTER OF INFORMATION TECHNOLOGY </td>
        <td>Human Resource Management</td>
        <td>3</td>
    </tr>
  

</table>
