
@{
    ViewBag.Title = "Upload Assignments";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Upload Assignments</h2>
<hr style="border-top: 1px solid #6d9b90;">

<div class="col-sm-5">
    <label class="control-label" for="ProfilePicture">Upload Assignment</label>
    <input type="File" class="form-control" id="ProfilePicture" name="ProfilePicture" value="">
    <span class="field-validation-valid text-danger" data-valmsg-for="ProfilePicture" data-valmsg-replace="true"></span><br />
</div>



<table class="table">
    <tr>
        <th>
            Program
        </th>
        <th>
            Subject
        </th>
        <th>
           Assignment Name
        </th>
        <th>
           File
        </th>
    </tr>


    <tr>
        <td>BS (INFORMATION TECHNOLOGY) </td>
        <td>Introduction to Computing</td>
        <td>Assignment 1</td>
        <td>
            <a href="/ProfilePics/Assignments.jpg">
                <img border="0" src="/ProfilePics/Assignments.jpg" alt="W3Schools" width="104" height="142">
            </a>
        </td>
    </tr>

    <tr>
        <td>BS (INFORMATION TECHNOLOGY) </td>
        <td>Circuit Theory</td>
        <td>Assignment 2</td>
        <td>
            <a href="/ProfilePics/Assignments.jpg" download>
                <img border="0" src="/ProfilePics/Assignemnts4.jpg" alt="W3Schools" width="104" height="142">
            </a>
        </td>
    </tr>

    <tr>
        <td>BS (COMPUTER SCIENCE)</td>
        <td>Financial Accounting</td>
        <td>Assignment 3</td>
        <td>
            <a href="/ProfilePics/Assignments.jpg" download>
                <img border="0" src="/ProfilePics/Assignemnts3.jpg" alt="W3Schools" width="104" height="142">
            </a>
        </td>
    </tr>

    <tr>
        <td>BS (COMPUTER SCIENCE)</td>
        <td>Human Computer Interaction</td>
        <td>Assignment 4</td>
        <td>
            <a href="/ProfilePics/Assignments.jpg" download>
                <img border="0" src="/ProfilePics/Assignments.jpg" alt="W3Schools" width="104" height="142">
            </a>
        </td>
    </tr>

    <tr>
        <td>MASTER OF INFORMATION TECHNOLOGY </td>
        <td>Human Resource Management</td>
        <td>Assignment 5</td>
        <td>
            <a href="/ProfilePics/Assignments.jpg" download>
                <img border="0" src="/ProfilePics/Assignments2.jpg" alt="W3Schools" width="104" height="142">
            </a>
        </td>
    </tr>


</table>