
@{
    ViewBag.Title = "Collection";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#"  class="alert-link"> Payment Collection</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#"  class="alert-link"> List of Collections</a>
            </div>
        </div>
    </div>

</div><br />

