
@{
    ViewBag.Title = "Discount";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#"  class="alert-link"> Discount By Batch</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#"  class="alert-link"> Discount By Scheme </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#"  class="alert-link"> Discount By Individual</a>
            </div>
        </div>
    </div>
   
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#"  class="alert-link"> Cancel Discount </a>
            </div>
        </div>
    </div>
</div>

