
@{
    ViewBag.Title = "View/Mark Attendance";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("ViewAttendance", "StudentAttandance")" class="alert-link" target="_blank"> View Attendance </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("AddAttendance", "StudentAttandance")" class="alert-link" target="_blank"> Mark Attendance </a>
            </div>
        </div>
    </div>
</div>
