<h2 style="text-align:center;padding-top:20px">
    Your Quiz Has Been Sent Successfully !
</h2>

@section Scripts {
<script>
$(document).ready(function () {
    window.setTimeout(function () {
        window.location.href = 'StudentActiveCourses';
    }, 4000);
});


</script>
    }